<body>
  <h4>Welcome!</h4>
  <p>Click on the merchants link to see a list of all shop merchants</p>
  <%= link_to "Merchants", merchants_path %>
  <p>Included information for merchants:</p>
    <ul>
      <li>Invoices</li>
      <li>Items</li>
      <li>Bulk Discounts</li>
    </ul>
</body>